body {
    background-color: black;
    display: flex;
    justify-content: center;
}
.container {
    max-width: 1440px;
    max-height: 1912px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.header, .first {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    background-color: #1F2937; 
    color: white;
}
.right-side {
    display: flex;
    font-size: 19px;
    font-weight: bold;
}
a {
    color: white;
}

.first {
    flex-direction: column;
    font-size: x-large;
}
img {
    max-width: auto;
    max-height: 300px;
}

.second {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1F2937; 
    color: white;
}

.materias {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    margin: 0px 20px 10px;
}

.materia {
    border-style: groove;
    width: 100px;
    height: auto;
    padding: 10px;
    font-size: large;
}

.third {
    display: flex;
    background-color: #1F2937;
    color: white;
    flex-direction: column;
    align-items: center;
}
.phrase {
    padding: 20px 30px 0px 30px;
    max-width: 500px;
    font-size: x-large;
}
.teacher-name {
    font-size: large;
    margin-left: 400px;
}